.blog-preview{
    padding: 10px 16px;
    margin: 10px 0;
    margin-right: 3rem;
    border-bottom: 1px solid #fafafa;
    margin-left: 3rem;
}
  
.blog-preview:hover{
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview a{
    text-decoration: none;
    
}  
.blog-preview {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 8px;
    width: auto;
    
}
